@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faf9f6;
}

a.active {
  font-weight: 900;
}
a.active hr {
  display: block;
}

@media (max-width: 640px){
  a.active {
    color: #faf9f6;
    background: #2c2c2c;
  }
}